@use "../variables/variables" as *;
// include mixins
@use "../helpers/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$light_theme: "false";

body {
  background-color: #333;
  color: whitesmoke;
  @if $light_theme == "true" {
    background-color: whitesmoke;
    color: #222;
    h1,
    h2 {
      color: cadetblue;
    }
  }
}

$position: "right";

%main_box {
  padding: 20px;
  color: beige;
  background-color: #444;
  #{$position}: 0;
  @include flex-center;
}
h1,
h2 {
  color: $heading_color;
  $heading_color: magenta !global;
}

.box {
  @extend %main_box;
}

section {
  padding: $section_padding;
}

.circle {
  width: 100px;
  @include circle;
}

@for $i from 1 to 11 {
  // or through 10
  .class-#{$i} {
    padding: #{10px + $i};
  }
}
