@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  aspect-ratio: 1;
}
